pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.cpcache/
.nrepl-port
.lsp/
.clj-kondo/
.calva/
.idea/
*.iml
.DS_Store
.lein-plugins/
.lein-failures
.nrepl-port
.vscode/
